*{
	margin:0;
	padding:0;
	scroll-behavior:smooth;
}
body{
    background:linear-gradient(135deg,white,gray)

}
.page{
    width:90%;
    margin:auto;
	padding-top:30px;
}
nav{
    height:50px;
    background-color:#000;
	text-align:center;
	line-height:50px;
	font-size:110%;
	position:sticky;
	top:0;
}
section{
    width:100%;
    padding-top:60px;
}

.nav{
	display:inline;
	list-style-type:none;
	text-transform:uppercase;
	font-weight:bold;
	padding:10px;
}

nav a{
	color:white;
	text-decoration:none;
	transition:0.4s;
    font-family: 'Merriweather Sans', sans-serif;
}
nav a:hover{
	color:#0ff
}
header{   
	height:100vh;
	background-size:cover;
	background-position:center;
    background-image:url("../img/Linux.jpg")
}

.middle{    
    background-color:beige;
}
.middle h1{
    padding:30px;
    font-size:250%;
    font-family: 'Merriweather Sans', sans-serif;
}
.middle p{
	padding:30px;
    font-family:'roboto',sans-serif;
}
.middle ul, li {
	font-family:'roboto',sans-serif;
	padding-left:30px
}
h2{
	padding-left:30px;
	font-family: 'Merriweather Sans', sans-serif;
}
footer{    
	height:70px;
    background-color:#ccc;
	text-align:center;
	padding:20px;
}
#parallax1{
    height:60vh;
    width:100%;background-image:url("../img/kubuntu.jpg");
    background-size:cover;
    display:table;
    background-attachment:fixed;
}#parallax2{
    height:60vh;
    width:100%;background-image:url("../img/kali.jpg");
    background-size:cover;
    display:table;
    background-attachment:fixed;
}
#parallax3{
    height:60vh;
    width:100%;background-image:url("../img/manjaro.png");
    background-size:cover;
    display:table;
    background-attachment:fixed;
}
.sekcja2{padding:30px;}
#g1, #g2, #g3{text-align:center;}
#g1 img{width:29%; height:auto; padding:1%;}
#g2 img{width:29%; height:auto; padding:1%;}
#g3 img{width:29%; height:auto; padding:1%;}
@keyframes animacja {
0% {left: 0%;}
20% {left: -100%;}
25% {left: -100%;}
45% {left: -200%;}
50% {left: -200%;}
70% {left: -300%;}
75% {left: -300%;}
95% {left: -400%;}
100% {left: -400%;}}
#slider {
	width: 100%;
	height: 50%;
	overflow: hidden;
    }
#slider figure img {
    float: left;
    width: 20%;
    height: 25%;
      }
#slider figure {position: relative;
	width: 500%;
    margin: 0;
    left: 0;
    animation: 30s animacja infinite alternate-reverse;
      }